<form action="https://formspree.io/f/myyaebeg" method="POST">
    <p>Was this helpful?</p>
    <p>Pop your email address in the box below to receive our regular helpful emails.</p>
    <label>
      <input type="email" name="email" placeholder="Your Email Address">
    </label>
  <button type="submit">Please sign me up!</button>
</form>
