<form action="https://formspree.io/f/myyaebeg" method="POST">
  <label>
    Did you find this useful? Get our regular email!
    Email:
    <input type="email" name="email">
  </label>
  <button type="submit">Send</button>
</form>
